<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ejs-sass-webpack</title>
  <link rel="stylesheet" href="styles/style.css">
  <script src="scripts/index.js"></script>
</head>
<body>
  <h1>ejs-sass-webpack</h1>
</body>
</html>
