@font-face {
  font-family: YakuHanJPs;
  font-weight: normal;
  src: url("~@/fonts/YakuHanJPs-Light.woff2") format("woff2"),
    url("~@/fonts/YakuHanJPs-Light.woff") format("woff");
}

@font-face {
  font-family: YakuHanJP;
  font-weight: normal;
  src: url("~@/fonts/YakuHanJP-DemiLight.woff2") format("woff2"),
    url("~@/fonts/YakuHanJP-DemiLight.woff") format("woff");
}

@font-face {
  font-family: YakuHanJP;
  font-weight: bold;
  src: url("~@/fonts/YakuHanJP-Bold.woff2") format("woff2"),
    url("~@/fonts/YakuHanJP-Bold.woff") format("woff");
}

@font-face {
  font-family: Hiragino;
  font-weight: normal;
  src: local("HiraginoSans-W3"), local("ヒラギノ角ゴ ProN W3"),
    local("Hiragino Kaku Gothic ProN");
}

@font-face {
  font-family: Hiragino;
  font-weight: bold;
  src: local("HiraginoSans-W6"), local("ヒラギノ角ゴ ProN W6"),
    local("Hiragino Kaku Gothic ProN W6");
}
