/* @import "sanitize.css"; */
@import "_config.css";

html {
  font-size: 62.5%;
}

body {
  font-kerning: normal;
  font-feature-settings: "palt" on;
  overflow-wrap: break-word;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: unset;

  @media (--retina) {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

.hide-text {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

.transition {
  transition: all var(--duration) var(--easing);
}

.link {
  cursor: pointer;
  color: inherit;
  text-decoration: underline;

  @nest body[data-device="pc"] &:hover {
    text-decoration: none;
    opacity: 0.7;
  }
}
