<%
  rootPath = './'
  script = '/index.js'
  include(rootPath + '_vars')
-%>
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <%- include(rootPath + '_head') -%>
</head>
<body>
  <h1><%= title %></h1>
</body>
</html>
