<%
  var title = 'simple-web'
-%>
<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="styles/index.css">
  <script src="scripts/vendor.js"></script>
  <script src="scripts/index.js"></script>
</head>
<body>
  <h1><%= title %></h1>
</body>
</html>
