:root {
  /* color */
  --color-text: black;
  --color-bg: white;

  /* typography */
  --fontSize: 1.6rem;
  --fontFamily: system-ui, YakuHanJPs, YakuHanJP, sans-serif;
  --letterSpacing: initial;
  --lineHeight: 1.7;
  --lineHeight-title: 1.4;

  /* transition */
  --duration: 400ms;
  --easing: cubic-bezier(0.23, 1, 0.32, 1);
}

@custom-media --retina (resolution >= 1.5dppx);
@custom-media --tablet (width < 1000px);
@custom-media --sp (width < 640px);
